@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Página de inicio del sistema de experiencia recepcional</p>
</div>
