@page
@model MVVM.Pages.Menus.UIMaestroModel
@{
    ViewData["Title"] = "Menu maestro";
}
<h2 id="h2MenuMaestro">Menú maestro</h2>
<div class="container text-center mt-5">
    <a asp-area="" asp-page="/RegistrarTrabajoRecepcional" type="button" class="btn btn-primary btn-lg">Registrar trabajo recepcional</a>
</div>